body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, orange,yellowgreen,aqua);
  }
  .App {
    display: flex;
    justify-content: center;
  }
  .container, .feed_form {
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  label, input {
    font-size: 1.4rem;
  }
  input[type="text"] {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgb(197, 237, 241);
    width:90%
   
  }
  button {
    padding: 10px 50px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.4rem;
    background-color:teal;
    color: aliceblue;
  }
  button:hover {
    border: 2px solid black;
    background-color:orchid;
  }
  #formData {
    width: 80vw;
    height: fit-content;
    border: 2px solid black;
    margin-top: 100px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    background-color: rgb(147, 209, 215);
  }
 .display_data {
    width: 40%;
    height: fit-content;
    padding: 15px;
    margin: 15px 20px;
    border: 2px solid black;
    border-radius: 25px;
    color: black;
    text-align: center;
    background-color: aqua;
    font-size: 1.2rem;
  }
  h1{
    
    color:blue;
  }
